@import "tailwindcss";
@import "@axonicles/tailwind-config/theme.css";

@layer components {
}
@layer utilities {
  .animated-border {
    @apply inline-block transition-all duration-500 ease-out p-px rounded-lg;
  }

  .animated-border:hover {
    @apply animate-rotate-border ;
    background-image: conic-gradient(from var(--border-angle), black 80%, var(--border-color, #22c55e) 90%, black 100%);
    background-origin: border-box;
    background-clip: border-box;
  }
}



@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme{

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}
.bg-secondary {
  background-color: rgb(23, 23, 23);
}
.bg-tertiary {
  background-color: rgb(38, 38, 38);
}
.bg-tertiary-local {
  background-color: rgb(64, 64, 64);
}
.shadow-custom {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
@theme {
  --font-atma: var(--font-atma);
}